<div class="container-fluid px-0">

    <!-- Footer -->
    <footer class="text-center text-lg-start text-white"
        style="background-image: radial-gradient( circle 815px at 23.4% -21.8%,  rgba(9,29,85,1) 0.2%, rgba(0,0,0,1) 100.2% );">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-between p-3"
            style="background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(38,51,97,1) 0%, rgba(65,143,222,1) 79% );">

            <div class=" container">
                <span>©EMS 2024:</span>
            </div>
        </section>


        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->

</div>