<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class="j3" xml:lang="en-gb" lang="en-gb" dir="ltr">

<head>

    <base href="https://ja-event-camp.demo.joomlart.com/index.php" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords"
        content="conference Joomla template, event booking joomla template, responsive joomla template, event registration joomla template, event camp joomla template" />
    <meta name="description"
        content="JA Event Camp is a professional and advanced Joomla template for any conference and events booking website or an events agency. It fully supports DT Register for online events booking. It is built with robust T4 Joomla template framework" />
    <meta name="generator" content="Joomla! - Open Source Content Management" />
    <title>Conference and Events Booking Joomla Template - JA Event Camp</title>
    <link href="/templates/ja_eventcamp/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    <link href="/media/t4/optimize/css/7f5ee71e9eaf94a46bafa87810c7a886.css?6f7ab70e55211bdce11734cf2ef79374"
        rel="stylesheet" type="text/css" />
    <link href="/templates/ja_eventcamp/fonts/ionicons/css/ionicons.css" rel="stylesheet" type="text/css" />
    <link href="/media/t4/optimize/css/7116636bc432769580602c333782746d.css?6f7ab70e55211bdce11734cf2ef79374"
        rel="stylesheet" type="text/css" />
    <link href="https://ja-event-camp.demo.joomlart.com/media/com_acym/css/module.min.css?v=757" rel="stylesheet"
        type="text/css" />
    <link href="/media/t4/optimize/css/5d3a4ad2f357a2e06e6fa8b5d827a3c1.css?6f7ab70e55211bdce11734cf2ef79374"
        rel="stylesheet" type="text/css" />
    <link
        href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans%3A400%2C600%2C700%7CBe+Vietnam+Pro%3A300%2C400%2C500%2C600%2C700"
        rel="stylesheet" type="text/css" />
    <script type="application/json"
        class="joomla-script-options new">{"csrf.token":"cd33731413b866cf8e1ec44f29c755a1","system.paths":{"root":"","base":""},"media-picker-api":{"apiBaseUrl":"https:\/\/ja-event-camp.demo.joomlart.com\/index.php?option=com_media&format=json"}}</script>
    <script src="/media/t4/optimize/js/13dacca1ac7fbf2cf30e43b96321ec28.js?6f7ab70e55211bdce11734cf2ef79374"
        type="text/javascript"></script>

</head>

<body
    class="site-default navigation-default theme-default layout-home nav-breakpoint-lg navigation-hide com_content view-article item-101"
    data-jver="3">

    <div class="t4-offcanvas" data-offcanvas-options='{"modifiers":"right,overlay"}' id="off-canvas-right"
        role="complementary" style="display:none;">
        <div class="t4-off-canvas-header">
            <a href="https://ja-event-camp.demo.joomlart.com/" title="JoomlArt Demo Site">
                <img class="logo-img-sm d-block d-sm-none" src="/images/joomlart/logo/logo-mb.png"
                    alt="JoomlArt Demo Site" />

                <img class="logo-img d-none d-sm-block" src="/images/joomlart/logo/logo.png" alt="JoomlArt Demo Site" />

            </a>
            <button type="button" class="close js-offcanvas-close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>

        <div class="t4-off-canvas-body menu-item-def" data-effect="def">
            <div class="t4-module module " id="Mod125">
                <div class="module-inner">
                    <h3 class="module-title "><span>Main menu</span></h3>
                    <div class="module-ct">
                        <nav class="navbar">
                            <ul class="nav navbar-nav ">
                                <li class="nav-item item-101 default current active"><a href="/index.php" itemprop="url"
                                        class="nav-link" aria-current="page"><span itemprop="name"><span
                                                class="menu-item-title">Home</span></span></a></li>
                                <li class="nav-item item-163"><a href="/index.php/events" itemprop="url"
                                        class="nav-link"><span itemprop="name"><span
                                                class="menu-item-title">Events</span></span></a></li>
                                <li class="nav-item item-108"><a href="/index.php/about-us" itemprop="url"
                                        class="nav-link"><span itemprop="name"><span class="menu-item-title">About
                                                Us</span></span></a></li>
                                <li class="nav-item item-110"><a href="/index.php/blog" itemprop="url"
                                        class="nav-link"><span itemprop="name"><span
                                                class="menu-item-title">Blog</span></span></a></li>
                                <li class="nav-item item-111 deeper dropdown parent" data-level=1><a itemprop="url"
                                        href="javascript:;" class="nav-header  nav-link dropdown-toggle" role="button"
                                        aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
                                        <span itemprop="name"><span class="menu-item-title">Pages</span></span>
                                    </a>
                                    <ul class="dropdown-menu" data-bs-popper="static">
                                        <li class="nav-item item-112 deeper dropdown dropright dropend parent"
                                            data-level=2><a itemprop="url" href="javascript:;"
                                                class="nav-header  dropdown-item dropdown-toggle" role="button"
                                                aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
                                                <span itemprop="name"><span
                                                        class="menu-item-title">J!Pages</span></span>
                                            </a>
                                            <ul class="dropdown-menu" data-bs-popper="static">
                                                <li class="nav-item item-113"><a href="/index.php/pages/j-pages/login"
                                                        itemprop="url" class="dropdown-item"><span itemprop="name"><span
                                                                class="menu-item-title">Login</span></span></a></li>
                                                <li class="nav-item item-114"><a
                                                        href="/index.php/pages/j-pages/registration" itemprop="url"
                                                        class="dropdown-item"><span itemprop="name"><span
                                                                class="menu-item-title">Registration</span></span></a>
                                                </li>
                                                <li class="nav-item item-115"><a
                                                        href="/index.php/pages/j-pages/user-profile" itemprop="url"
                                                        class="dropdown-item"><span itemprop="name"><span
                                                                class="menu-item-title">User Profile</span></span></a>
                                                </li>
                                                <li class="nav-item item-116"><a href="/index.php/pages/j-pages/privacy"
                                                        itemprop="url" class="dropdown-item"><span itemprop="name"><span
                                                                class="menu-item-title">Privacy</span></span></a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item item-117 deeper dropdown dropright dropend parent"
                                            data-level=2><a itemprop="url" href="javascript:;"
                                                class="nav-header  dropdown-item dropdown-toggle" role="button"
                                                aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
                                                <span itemprop="name"><span class="menu-item-title">Other
                                                        Pages</span></span>
                                            </a>
                                            <ul class="dropdown-menu" data-bs-popper="static">
                                                <li class="nav-item item-118"><a
                                                        href="/index.php/pages/other-pages/search" itemprop="url"
                                                        class="dropdown-item"><span itemprop="name"><span
                                                                class="menu-item-title">Search</span></span></a></li>
                                                <li class="nav-item item-119"><a
                                                        href="/index.php/pages/other-pages/smart-search" itemprop="url"
                                                        class="dropdown-item"><span itemprop="name"><span
                                                                class="menu-item-title">Smart Search</span></span></a>
                                                </li>
                                                <li class="nav-item item-120"><a
                                                        href="/index.php/pages/other-pages/error-page" itemprop="url"
                                                        class="dropdown-item"><span itemprop="name"><span
                                                                class="menu-item-title">Error Page</span></span></a>
                                                </li>
                                                <li class="nav-item item-121"><a
                                                        href="/index.php/pages/other-pages/offline-page" itemprop="url"
                                                        class="dropdown-item"><span itemprop="name"><span
                                                                class="menu-item-title">Offline Page</span></span></a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item item-122 deeper dropdown dropright dropend parent"
                                            data-level=2><a itemprop="url" href="javascript:;"
                                                class="nav-header  dropdown-item dropdown-toggle" role="button"
                                                aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
                                                <span itemprop="name"><span class="menu-item-title">Joomla
                                                        Content</span></span>
                                            </a>
                                            <ul class="dropdown-menu" data-bs-popper="static">
                                                <li class="nav-item item-123"><a
                                                        href="/index.php/pages/joomla-content/category-blog"
                                                        itemprop="url" class="dropdown-item"><span itemprop="name"><span
                                                                class="menu-item-title">Category Blog</span></span></a>
                                                </li>
                                                <li class="nav-item item-124"><a
                                                        href="/index.php/pages/joomla-content/featured-articles"
                                                        itemprop="url" class="dropdown-item"><span itemprop="name"><span
                                                                class="menu-item-title">Featured
                                                                Articles</span></span></a></li>
                                                <li class="nav-item item-125"><a
                                                        href="/index.php/pages/joomla-content/tagged-items"
                                                        itemprop="url" class="dropdown-item"><span itemprop="name"><span
                                                                class="menu-item-title">Tagged Items</span></span></a>
                                                </li>
                                                <li class="nav-item item-126"><a
                                                        href="/index.php/pages/joomla-content/typography" itemprop="url"
                                                        class="dropdown-item"><span itemprop="name"><span
                                                                class="menu-item-title">Typography</span></span></a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item item-109"><a href="/index.php/contact-us" itemprop="url"
                                        class="nav-link"><span itemprop="name"><span class="menu-item-title">Contact
                                                Us</span></span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <main>
        <div class="t4-wrapper">
            <div class="t4-content">
                <div class="t4-content-inner">

                    <div id="t4-header" class="t4-section position-absolute w-100  t4-header  t4-palette-mainnav">
                        <div class="t4-section-inner container">
                            <header id="t4-header-wrap" class="t4-header">
                                <div class="t4-header-inner">
                                    <div class="row no-gutters d-flex justify-content-between flex-nowrap">
                                        <div class="col-auto t4-logo-header mr-auto mr-lg-0">
                                            <div class="navbar-brand logo-image logo-control">
                                                <a href="https://ja-event-camp.demo.joomlart.com/"
                                                    title="JoomlArt Demo Site">
                                                    <img class="logo-img-sm d-block d-sm-none"
                                                        src="/images/joomlart/logo/logo-mb.png"
                                                        alt="JoomlArt Demo Site" />

                                                    <img class="logo-img d-none d-sm-block" width="75" height="75"
                                                        src="/images/joomlart/logo/logo.png" alt="JoomlArt Demo Site" />

                                                </a>
                                            </div>

                                        </div>

                                        <div
                                            class="col-auto t4-megamenu-wrap col-xl-10 d-flex justify-content-end align-items-center">
                                            <div class="t4-navbar">

                                                <nav class="navbar navbar-expand-lg">
                                                    <div id="t4-megamenu-mainmenu"
                                                        class="t4-megamenu collapse navbar-collapse slide animate"
                                                        data-duration="400">

                                                        <ul class="nav navbar-nav level0" itemscope="itemscope"
                                                            itemtype="http://www.schema.org/SiteNavigationElement">
                                                            <li class="nav-item default current active" data-id="101"
                                                                data-level="1"><a href="/index.php" itemprop="url"
                                                                    class="nav-link" aria-current="page"><span
                                                                        itemprop="name"><span
                                                                            class="menu-item-title">Home</span></span></a>
                                                            </li>
                                                            <li class="nav-item" data-id="163" data-level="1"><a
                                                                    href="/index.php/events" itemprop="url"
                                                                    class="nav-link"><span itemprop="name"><span
                                                                            class="menu-item-title">Events</span></span></a>
                                                            </li>
                                                            <li class="nav-item" data-id="108" data-level="1"><a
                                                                    href="/index.php/about-us" itemprop="url"
                                                                    class="nav-link"><span itemprop="name"><span
                                                                            class="menu-item-title">About
                                                                            Us</span></span></a></li>
                                                            <li class="nav-item" data-id="110" data-level="1"><a
                                                                    href="/index.php/blog" itemprop="url"
                                                                    class="nav-link"><span itemprop="name"><span
                                                                            class="menu-item-title">Blog</span></span></a>
                                                            </li>
                                                            <li class="nav-item dropdown mega parent" data-id="111"
                                                                data-level="1" data-align="center"><a itemprop="url"
                                                                    href="javascript:;"
                                                                    class="nav-header  nav-link dropdown-toggle"
                                                                    role="button" aria-haspopup="true"
                                                                    aria-expanded="false">
                                                                    <span itemprop="name"><span
                                                                            class="menu-item-title">Pages</span></span>
                                                                    <i class="item-caret"></i></a>

                                                                <div class="dropdown-menu mega-dropdown-menu"
                                                                    style="width: 700px;">
                                                                    <div class="mega-dropdown-inner">

                                                                        <div class="row">
                                                                            <div class="mega-sub-1 col-12 col-md">
                                                                                <div class="mega-col-nav">
                                                                                    <div class="mega-inner">
                                                                                        <h3 class="mega-col-title">
                                                                                            <span>J!Pages</span>
                                                                                        </h3>

                                                                                        <ul class="mega-nav level11">
                                                                                            <li class="nav-item"
                                                                                                data-id="113"><a
                                                                                                    href="/index.php/pages/j-pages/login"
                                                                                                    itemprop="url"
                                                                                                    class="nav-link"><span
                                                                                                        itemprop="name"><span
                                                                                                            class="menu-item-title">Login</span></span></a>
                                                                                            </li>
                                                                                            <li class="nav-item"
                                                                                                data-id="114"><a
                                                                                                    href="/index.php/pages/j-pages/registration"
                                                                                                    itemprop="url"
                                                                                                    class="nav-link"><span
                                                                                                        itemprop="name"><span
                                                                                                            class="menu-item-title">Registration</span></span></a>
                                                                                            </li>
                                                                                            <li class="nav-item"
                                                                                                data-id="115"><a
                                                                                                    href="/index.php/pages/j-pages/user-profile"
                                                                                                    itemprop="url"
                                                                                                    class="nav-link"><span
                                                                                                        itemprop="name"><span
                                                                                                            class="menu-item-title">User
                                                                                                            Profile</span></span></a>
                                                                                            </li>
                                                                                            <li class="nav-item"
                                                                                                data-id="116"><a
                                                                                                    href="/index.php/pages/j-pages/privacy"
                                                                                                    itemprop="url"
                                                                                                    class="nav-link"><span
                                                                                                        itemprop="name"><span
                                                                                                            class="menu-item-title">Privacy</span></span></a>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="mega-sub-2 col-12 col-md">
                                                                                <div class="mega-col-nav">
                                                                                    <div class="mega-inner">
                                                                                        <h3 class="mega-col-title">
                                                                                            <span>Other Pages</span>
                                                                                        </h3>

                                                                                        <ul class="mega-nav level11">
                                                                                            <li class="nav-item"
                                                                                                data-id="118"><a
                                                                                                    href="/index.php/pages/other-pages/search"
                                                                                                    itemprop="url"
                                                                                                    class="nav-link"><span
                                                                                                        itemprop="name"><span
                                                                                                            class="menu-item-title">Search</span></span></a>
                                                                                            </li>
                                                                                            <li class="nav-item"
                                                                                                data-id="119"><a
                                                                                                    href="/index.php/pages/other-pages/smart-search"
                                                                                                    itemprop="url"
                                                                                                    class="nav-link"><span
                                                                                                        itemprop="name"><span
                                                                                                            class="menu-item-title">Smart
                                                                                                            Search</span></span></a>
                                                                                            </li>
                                                                                            <li class="nav-item"
                                                                                                data-id="120"><a
                                                                                                    href="/index.php/pages/other-pages/error-page"
                                                                                                    itemprop="url"
                                                                                                    class="nav-link"><span
                                                                                                        itemprop="name"><span
                                                                                                            class="menu-item-title">Error
                                                                                                            Page</span></span></a>
                                                                                            </li>
                                                                                            <li class="nav-item"
                                                                                                data-id="121"><a
                                                                                                    href="/index.php/pages/other-pages/offline-page"
                                                                                                    itemprop="url"
                                                                                                    class="nav-link"><span
                                                                                                        itemprop="name"><span
                                                                                                            class="menu-item-title">Offline
                                                                                                            Page</span></span></a>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="mega-sub-3 col-12 col-md">
                                                                                <div class="mega-col-nav">
                                                                                    <div class="mega-inner">
                                                                                        <h3 class="mega-col-title">
                                                                                            <span>Joomla Content</span>
                                                                                        </h3>

                                                                                        <ul class="mega-nav level11">
                                                                                            <li class="nav-item"
                                                                                                data-id="123"><a
                                                                                                    href="/index.php/pages/joomla-content/category-blog"
                                                                                                    itemprop="url"
                                                                                                    class="nav-link"><span
                                                                                                        itemprop="name"><span
                                                                                                            class="menu-item-title">Category
                                                                                                            Blog</span></span></a>
                                                                                            </li>
                                                                                            <li class="nav-item"
                                                                                                data-id="124"><a
                                                                                                    href="/index.php/pages/joomla-content/featured-articles"
                                                                                                    itemprop="url"
                                                                                                    class="nav-link"><span
                                                                                                        itemprop="name"><span
                                                                                                            class="menu-item-title">Featured
                                                                                                            Articles</span></span></a>
                                                                                            </li>
                                                                                            <li class="nav-item"
                                                                                                data-id="125"><a
                                                                                                    href="/index.php/pages/joomla-content/tagged-items"
                                                                                                    itemprop="url"
                                                                                                    class="nav-link"><span
                                                                                                        itemprop="name"><span
                                                                                                            class="menu-item-title">Tagged
                                                                                                            Items</span></span></a>
                                                                                            </li>
                                                                                            <li class="nav-item"
                                                                                                data-id="126"><a
                                                                                                    href="/index.php/pages/joomla-content/typography"
                                                                                                    itemprop="url"
                                                                                                    class="nav-link"><span
                                                                                                        itemprop="name"><span
                                                                                                            class="menu-item-title">Typography</span></span></a>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="nav-item" data-id="109" data-level="1"><a
                                                                    href="/index.php/contact-us" itemprop="url"
                                                                    class="nav-link"><span itemprop="name"><span
                                                                            class="menu-item-title">Contact
                                                                            Us</span></span></a></li>
                                                        </ul>
                                                    </div>
                                                </nav>

                                            </div>

                                            <div class="head-action d-none d-sm-inline">
                                                <nav class="navbar">
                                                    <ul class="nav navbar-nav ">
                                                        <li class="nav-item item-144"><a href="/index.php/buy-ticket"
                                                                itemprop="url" class="nav-link"><span
                                                                    itemprop="name"><span class="menu-item-title">Buy
                                                                        Ticket</span></span></a></li>
                                                    </ul>
                                                </nav>
                                            </div>

                                            <span id="triggerButton"
                                                class="btn js-offcanvas-trigger t4-offcanvas-toggle d-lg-none d-flex align-items-center"
                                                data-offcanvas-trigger="off-canvas-right">
                                                <i class="fa fa-bars toggle-bars"></i>
                                            </span>


                                        </div>
                                    </div>
                                </div>
                            </header>

                        </div>
                    </div>

                    <!-- <div id="t4-sideshow" class="t4-section  t4-sideshow">
                        <div class="acm-slideshow acm-owl">
                            <div id="acm-slideshow-100">
                                <div class="owl-carousel owl-theme">
                                    <div class="item">
                                        <div class="background"
                                            style="background-image: url(/images/joomlart/slideshow/item-1.jpg);"></div>
                                        <div class="slider-content">
                                            <div class="slider-content-inner">
                                                <div class="h3 text-primary mt-0 mb-1 mb-sm-3 description">The biggest
                                                    conference this year!</div>

                                                <h1 class="slide-title text-white mt-0 mb-2 mb-lg-4">

                                                    Creative Business Agency Conference 2020
                                                </h1>

                                                <div
                                                    class="d-flex justify-content-center align-items-center text-white text-uppercase mb-2 mb-lg-5 font-heading-family slide-info flex-column flex-sm-row">
                                                    <span class="d-flex align-items-center"><span
                                                            class="icon ion-ios-calendar mr-1"></span>January 11,
                                                        2020</span>

                                                    <span class="d-flex align-items-center"><span
                                                            class="icon ion-ios-pin  mr-1"></span>California, US</span>
                                                </div>

                                                <div class="slide-action">
                                                    <a href="https://ja-eventcamp.demo.joomlart.com/index.php/events"
                                                        class="btn btn-lg btn-primary">View Events</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="background"
                                            style="background-image: url(/images/joomlart/slideshow/item-2.jpg);"></div>
                                        <div class="slider-content">
                                            <div class="slider-content-inner">
                                                <div class="h3 text-primary mt-0 mb-1 mb-sm-3 description">Hurry up !
                                                    don’t waste time</div>

                                                <h1 class="slide-title text-white mt-0 mb-2 mb-lg-4">

                                                    Design the Thinking Conference 2020
                                                </h1>

                                                <div
                                                    class="d-flex justify-content-center align-items-center text-white text-uppercase mb-2 mb-lg-5 font-heading-family slide-info flex-column flex-sm-row">
                                                    <span class="d-flex align-items-center"><span
                                                            class="icon ion-ios-calendar mr-1"></span>January 11,
                                                        2020</span>

                                                    <span class="d-flex align-items-center"><span
                                                            class="icon ion-ios-pin  mr-1"></span>California, US</span>
                                                </div>

                                                <div class="slide-action">
                                                    <a href="/index.php/about-us" class="btn btn-lg btn-primary">About
                                                        Us</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <script>
                            (function ($) {
                                jQuery(document).ready(function ($) {
                                    $("#acm-slideshow-100 .owl-carousel").owlCarousel({
                                        addClassActive: true,
                                        items: 1,
                                        singleItem: true,
                                        itemsScaleUp: true,
                                        nav: true,
                                        navText: ["<i class='ion-ios-arrow-round-back'></i>", "<i class='ion-ios-arrow-round-forward'></i>"],
                                        dots: false,
                                        merge: false,
                                        mergeFit: true,
                                        animateOut: 'fadeOut',
                                        slideBy: 1,
                                        autoplaySpeed: 1200,
                                        smartSpeed: 2000,
                                        loop: false,
                                        autoplay: true
                                    });
                                });
                            })(jQuery);
                        </script>
                    </div> -->
                </div>
            </div>
        </div>
    </main>

</body>

</html>