<!doctype html>
<html lang="en">
<%- include('../layouts/head.ejs') %>
    <style>
        .tablesection {
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 0.9em;
            font-family: sans-serif;
            min-width: 400px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }
    
        .tablesection thead tr {
            color: #ffffff;
            text-align: left;
        }
    
        .tablesection th,
        .tablesection td {
            padding: 12px 15px;
        }
    
        .tablesection tbody tr {
            border-bottom: 1px solid #dddddd;
        }
    
        .tablesection tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }
    
        .tablesection tbody tr:last-of-type {
            border-bottom: 2px solid #009879;
        }
    
        .tablesection tbody tr.active-row {
            font-weight: bold;
            color: #009879;
        }
    
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }
    
        .featurette-heading {
            display: flex;
            align-items: center;
            height: 250px;
            /* You can adjust this value to fit your needs */
        }
    
        .featurette-heading p {
            margin: 0;
        }
    
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <body>
<header>
            <%- include('../layouts/navbar.ejs') %>
        </header>
        
        <main class="text-center">
        
            <section class="bg-dark justify-content-center mb-5">
                <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active justify-content-center">
                            <img src="https://images.unsplash.com/photo-1501281668745-f7f57925c3b4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                class="d-block m-auto" alt="" style="height: 600px;width: 80%; opacity: 0.4; z-index: 10;">
        
                            <div class="container">
                                <div class="carousel-caption text-start">
                                    <h1>TINT Talkies - TINT Film & Drama Club</h1>
                                    <p>TINT Talkies, the Official Film Club of Techno International New Town, was inaugurated on Tuesday, 30th July, 2019.</p>
                                    <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="https://images.unsplash.com/photo-1459749411175-04bf5292ceea?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                class="d-block w-100" alt="" style="height: 600px;width: 80%; opacity: 0.4; z-index: 10;">
                            
                            <div class="container">
                                <div class="carousel-caption">
                                    <h1>TINT Talkies - TINT Film & Drama Club</h1>
                                    <p>It was inaugrated in the presence of renowned film personalities.</p>
                                    <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
                                </div>
                            </div>
                            </div>
                            <div class="carousel-item">
                            <img src="https://images.unsplash.com/photo-1459749411175-04bf5292ceea?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                class="d-block w-100" alt="" style="height: 600px;width: 80%; opacity: 0.4; z-index: 10;">
                            <div class="container">
                                <div class="carousel-caption text-end">
                                    <h1>TINT Talkies - TINT Film & Drama Club</h1>
                                    <p>Manifest the actor within.</p>
                                    <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
                                </div>
                            </div>
                        </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    </div>
            </section>

<!-- Marketing messaging and featurettes
  ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
                    <div class="col-lg-4">
                        <img src="../images/prof anindita ray.jpg" alt="" class="bd-placeholder-img mb-2 rounded-circle bg-secondary"
                            style="width:140px ; height: 140px;">

                        <h2>Prof. Annesha maam </h2>
                        <p> Assistant Professor (BSH)</p>
                        <!-- <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p> -->
                        </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <img src="../images/prof anindita ray.jpg" alt="" class="bd-placeholder-img mb-2 rounded-circle bg-secondary"
                            style="width:140px ; height: 140px;">
                        
                        <h2>Sayantika maam</h2>
                        <p>Assistant HOD (BBA)</p>
                        <!-- <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p> -->
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <img src="../images/prof anindita ray.jpg" alt="" class="bd-placeholder-img mb-2 rounded-circle bg-secondary"
                                style="width:140px ; height: 140px;">
                        
                            <h2>Kashmi maam</h2>
                            <p>Assistant Professor (BSH)</p>
                            <!-- <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p> -->
                        </div><!-- /.col-lg-4 -->
                        </div><!-- /.row -->
                        <section class="align-items-center d-flex">
                            <div class="container ">
                                <div class="row">
                                    <div class="col-6">
                                        <h3 class="mb-3">Upcoming Events </h3>
                                    </div>
                                    <div class="col-6 text-end">
                                        <a class="btn btn-primary mb-3 mr-1" data-bs-target="#carouselExampleControls" data-bs-slide="prev"
                                            role="button">
                                            <i class="fa fa-arrow-left"></i>
                                        </a>
                                        <a class="btn btn-primary mb-3" data-bs-target="#carouselExampleControls" data-bs-slide="next"
                                            role="button">
                                            <i class="fa fa-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 card card-background card-background-mask-primary tilt my-3" data-tilt>
                                        <div class="card-body">
                                            <div class="container d-flex align-items-center " style="height: 20rem;">
                        
                        
                                                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                                    <div class="carousel-inner">
                                                        <% for(let i=0;i<10;i++){ %>
                                                            <div class="carousel-item active">
                                                                <div class=" mb-3">
                                                                    <div class="row g-0">
                                                                        <div class="col-md-4">
                                                                            <img src="https://plus.unsplash.com/premium_photo-1666277012792-08955a43e51c?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                                                                class="img-fluid rounded" alt="..."
                                                                                style="position:absolute; line-height:32 px; padding-top: 10 px;">
                                                                        </div>
                                                                        <% } %>
                                                                            <div class="col-md-8">
                                                                                <div class="card-body">
                                                                                    <h5 class="card-title">
                                                                                        <a href="#" style="text-decoration: none;">
                                                                                            Event Name
                                                                                        </a>
                                                                                    </h5>
                                                                                    <h6 class="card-text text-muted my-2">
                                                                                        Location
                                                                                    </h6>
                                                                                    <p class="card-subtitle  my-2">12:00 AM - 2:00
                                                                                        PM
                                                                                    </p>
                                                                                    <p class="card-text  my-2 mb-4">This is a wider
                                                                                        card
                                                                                        with
                                                                                        supporting text below as a natural lead-in
                                                                                        to
                                                                                        additional content. This content is a little
                                                                                        bit
                                                                                        longer.</p>
                        
                                                                                </div>
                                                                            </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                            
                </div>
                </section>
                
                
                <!-- START THE FEATURETTES -->
                
                <hr class="featurette-divider">
                
                <div class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading">likte hbe<span class="text-muted"></span></h2>
                        <p class="lead">likhte hbe.</p>
                    </div>
                    <div class="col-md-5">
                        <img src="../images/photo.png" alt="" class="bd-placeholder-img mb-2 rounded bg-secondary"
                            style="width:450px ; height: 450px;">
                    </div>
                    </div>
<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">likhte hbe </span></h2>
        <p class="lead">likhte hbe</p>
    </div>
                    <div class="col-md-5 order-md-1">
                        <img src="../images/photo.png" alt="" class="bd-placeholder-img mb-2 rounded bg-secondary"
                            style="width:450px ; height: 450px;">

                    </div>
                    </div>

                <hr class="featurette-divider">
                
                <div class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading">likhte hbe<span
                                class="text-muted"></span>
                        </h2>
                        <p class="lead">likhte hbe</p>
                    </div>
                    <div class="col-md-5">
                        <img src="../images/photo1.jpeg" alt="" class="bd-placeholder-img mb-2 rounded bg-secondary"
                            style="width:450px ; height: 450px;">

                    </div>
                </div>
<hr class="featurette-divider">
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Some pictures of events organised by our club</h1>
            <p class="lead text-muted">Cherishing yesterday and hoping for better tomorrow</p>
            <p>
                <a href="#" class="btn btn-primary my-2">Home</a>
                <!-- <a href="#" class="btn btn-secondary my-2">Secondary action</a> -->
            </p>
        </div>
    </div>
</section>

<div class="album py-5 bg-light">
<div class="container">

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
<% for(let i=0;i<9;i++){ %>
<div class="col">
<div class="card shadow-sm text-center">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
        xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
        preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
            dy=".3em"><img src="/final_year_project/public/images/hero.jpg"></text>
    </svg>

    <div class="card-body">
        <p class="card-text">Event Name</p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
            </div>
            <small class="text-muted">9 mins</small>
        </div>
    </div>
</div>
</div>
<% } %>
</div>
</div>
</div>

<!-- /END THE FEATURETTES -->


</div><!-- /.container -->
<section class="py-5 text-center container">
<div class="row py-lg-5">
<div class="col-lg-6 col-md-8 mx-auto">
<h1 class="fw-light">Some more pictures from the past events.</h1>
<p class="lead text-muted">SCherishing yesterday and hoping for better tomorrow</p>
<p>
<a href="#" class="btn btn-primary my-2">Home</a>
<!-- <a href="#" class="btn btn-secondary my-2">Secondary action</a> -->
</p>
</div>
</div>
</section>

<div class="album py-5 bg-light">
<div class="container">

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
<% for(let i=0;i<9;i++){ %>
<div class="col">
<div class="card shadow-sm text-center">
<svg class="bd-placeholder-img card-img-top" width="100%" height="225"
xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
preserveAspectRatio="xMidYMid slice" focusable="false">
<title>Placeholder</title>
<rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
dy=".3em"><img src="/final_year_project/public/images/hero.jpg"></text>
</svg>

<div class="card-body">
<p class="card-text">Event Name</p>
<div class="d-flex justify-content-between align-items-center">
<div class="btn-group">
<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
<!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
</div>
<small class="text-muted">9 mins</small>
</div>
</div>
</div>
</div>
<% } %>
</div>
</div>
</div>


<!-- /END THE FEATURETTES -->


</div><!-- /.container -->


</main>


<script src="/docs/5.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>


    </body>

</html>