<div class="container">
    <div class="content">
        <div class="row mb-3 text-center">
            <h5 class="text-primary">Latest Updates</h5>
            <h2 class="text-muted">From Our Blog</h2>
        </div>
        <a href="https://arpan54.github.io/blogpage/">
        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <a href="https://arpan54.github.io/blogpage/">
                    <img src="https://images.unsplash.com/photo-1493225457124-a3eb161ffa5f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        class="card-img-top" alt="...">
                    </a>
                    <div class="card-body  p-4">
                        <h5 class="card-title">A Greeting Is More Valuable Than A Well Served Dish</h5>
                        <p class="card-text text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Officiis
                            asperiores id placeat, ex commodi quod maiores quos error itaque doloremque rem eveniet, a
                            earum magni totam. Neque repudiandae consectetur maxime?</p>
                        <a href="https://arpan54.github.io/blogpage/" class="link-dark">Read More ...</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <a href="https://arpan54.github.io/blogpage/">
                    <img src="https://images.unsplash.com/photo-1459749411175-04bf5292ceea?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        class="card-img-top" alt="...">
                    </a>
                    <div class="card-body p-4">
                        <h5 class="card-title">A Greeting Is More Valuable Than A Well Served Dish</h5>
                        <p class="card-text text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Officiis
                            asperiores id placeat, ex commodi quod maiores quos error itaque doloremque rem eveniet, a
                            earum magni totam. Neque repudiandae consectetur maxime?</p>
                        <a href="https://arpan54.github.io/blogpage/" class="link-dark">Read More ...</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <a href="https://arpan54.github.io/blogpage/">
                    <img src="https://images.unsplash.com/photo-1506157786151-b8491531f063?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        class="card-img-top" alt="...">
                   </a>
                    <div class="card-body p-4">
                        <h5 class="card-title">A Greeting Is More Valuable Than A Well Served Dish</h5>
                        <p class="card-text text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Officiis
                            asperiores id placeat, ex commodi quod maiores quos error itaque doloremque rem eveniet, a
                            earum magni totam. Neque repudiandae consectetur maxime?</p>
                        <a href="https://arpan54.github.io/blogpage/" class="link-dark">Read More ...</a>
                    </div>
                </div>
            </div>
        </div>
        </a>
    </div>
</div>