<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h3 class="mb-3 fs-2">Our Clubs</h3>
            </div>
            <div class="col-6 text-end">
                <a class="btn btn-primary mb-3 mr-1" data-bs-target="#carouselExampleControls2" data-bs-slide="prev" role="button">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-primary mb-3 " data-bs-target="#carouselExampleControls2" data-bs-slide="next" role="button">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-12">
                <div id="carouselExampleControls2" class="carousel slide" data-bs-slide="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-4 mb-3 d-flex align-items-center">
                                    <div class="card p-4 shadow" style="border-radius: 10%;">
                                        <div class="img align-items-center mx-auto d-flex" style="height: 200px;width: 200px;">
                                            <img src="../images/PhotoClub.png" class="card-img-top " alt="..."
                                                style="max-height: 200px;max-width: 200px;">
                                        </div>
                                        <div class="card-body ">
                                            <h5 class="card-title">TINT Photography Club</h5>
                                            <p class="card-text">Join the TINT Photography Club for capturing moments,
                                                exploring perspectives, and
                                                honing your photography skills.Let's embark on a journey to frame memories
                                                and express creativity
                                                through the lens!.</p>
                                        </div>
                                    </div>
                                    </div>
                                <div class="col-md-4 mb-3 d-flex align-items-center">
                                    <div class="card p-4 shadow" style="border-radius: 10%;">
                                        <img src="../images/LiterarcyClub.jpg" class="card-img-top mx-auto" alt="..."
                                            style="max-height: 200px;max-width: 200px; border-radius: 50%;">
                                        <div class="card-body">
                                            <h5 class="card-title">TINT Literary Club</h5>
                                            <p class="card-text">Join the TINT Literary Club for thrilling discussions, engaging workshops, and
                                                endless creativity. Explore your
                                                passion for literature with us and unleash your imagination!</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3 d-flex align-items-center">
                                    <div class="card p-4 shadow" style="border-radius: 10%;">
                                        <img src="../images/ArtClubLogo.png" class="card-img-top mx-auto" alt="..."
                                            style="max-height: 200px;max-width: 200px;">
                                        <div class="card-body">
                                            <h5 class="card-title">TINT Art Club</h5>
                                            <p class="card-text">Welcome to TINT Art Club, where creativity blooms and colors swirl with joy!
                                                Explore your imagination, express your
                                                passion, and create masterpieces that radiate happiness and inspiration in every brushstroke.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-md-4 mb-3 d-flex align-items-center">
                                            <div class="card p-4 shadow" style="border-radius: 10%;">
                                                <img src="../images/hridmajhare_logo.jpg" class="card-img-top mx-auto" alt="..."
                                                    style="max-height: 200px;max-width: 200px;border-radius: 50%;">
                                                <div class="card-body">
                                                    <h5 class="card-title">TINT Music Club</h5>
                                                    <p class="card-text">Join TINT Music Club - Hridmajhare, where every note dances with joy!
                                                        Immerse
                                                        yourself in melodies that spark
                                                        laughter, harmony that ignites happiness, and rhythms that make every moment vibrant and
                                                        lively.
                                                    </p>
                                                </div>
                                </div>
                                </div>
                                <div class="col-md-4 mb-3 d-flex align-items-center">
                                    <div class="card p-4 shadow" style="border-radius: 10%;">
                                        <img src="../images/talkies.jpg" class="card-img-top mx-auto" alt="..."
                                            style="max-height: 200px;max-width: 200px;border-radius: 50%;">
                                        <div class="card-body">
                                            <h5 class="card-title">TINT Talkies</h5>
                                            <p class="card-text">Step into the world of TINT Talkies, where storytelling meets the silver
                                                screen.
                                                Join
                                                us for
                                                cinematic adventures,
                                                discussions, and a reel-y good time. Lights, camera, action awaits!</p>
                                        </div>
                                        </div>
                                        </div>
                            <div class="col-md-4 mb-3 d-flex align-items-center ">
                                <div class="card p-4 shadow" style="border-radius: 10%;">
                                    <div class="img align-items-center mx-auto d-flex" style="height: 200px;width: 200px;">
                                        <img src="../images/IMG-20230127-WA0287.jpg" class="card-img-top " alt="..."
                                            style="max-height: 200px;max-width: 200px;">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">TINT Hiking Club</h5>
                                        <p class="card-text">Explore scenic trails, embrace adventure, and bond with fellow adventurers at
                                            TINT
                                            Hiking Club.
                                            Join us for
                                            unforgettable outdoor experiences, camaraderie, and lasting memories.</p>
                                    </div>
                                </div>
                                </div>
                                </div>
                        </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-4 mb-3 d-flex align-items-center">
                                <div class="card p-4 shadow" style="border-radius: 10%;">
                                    <img src="../images/CodingClub.02af6a9d.jpeg" class="card-img-top mx-auto rounded" alt="..."
                                        style="max-height: 200px;max-width: 200px;">
                                    <div class="card-body">
                                        <h5 class="card-title">TINT Coding Club</h5>
                                        <p class="card-text">Unlock your potential in the digital realm with TINT Coding Club. Join us to
                                            delve
                                            into
                                            programming languages,
                                            tackle coding challenges, and create cutting-edge solutions collaboratively.</p>
                                    </div>
                                </div>
                                </div>
                                                            <div class="col-md-4 mb-3 d-flex align-items-center">
                                                                <div class="card p-4 shadow" style="border-radius: 10%;">
                                                                    <img src="../images/Screenshot 2024-05-15 021219.png" class="card-img-top mx-auto rounded" alt="..."
                                                                        style="max-height: 200px;max-width: 200px;">
                                                                    <div class="card-body">
                                                                        <h5 class="card-title">TINT Social Workers</h5>
                                                                        <p class="card-text">Dwelve into meaningful endeavors with TINT Social Workers Club. Join us to
                                                                            advocate
                                                                            for
                                                                            social
                                                                            justice, uplift
                                                                            communities, and make a tangible impact on society's well-being.</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 mb-3 d-flex align-items-center">
                                                            
                                                            </div>
                                                            </div>
                                                            </div>
                                                            </div>
                                                                                </div>
                                                                                </div>
                                                                                </div>
                                                                                </div>
                    </section>