<!-- Topic Cards -->
<div id="cards_landscape_wrap-2">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="../images/PhotoClub.png" alt="" />
                            </div>
                            <div class="text-container">
                                <h6>TINT Photography Club</h6>
                                <p>Join the TINT Photography Club for capturing moments, exploring perspectives, and honing your photography skills.
                                    Let's embark on a journey to frame memories and express creativity through the lens!.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="../images/LiterarcyClub.jpg" alt="" />
                            </div>
                            <div class="text-container">
                                <h6>Literary Club</h6>
                                <p>Join the TINT Literary Club for thrilling discussions, engaging workshops, and endless creativity. Explore your
                                    passion for literature with us and unleash your imagination!</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="../images/ArtClubLogo.png" alt="" />
                            </div>

                            <div class="text-container">
                                <h6>TINT Art Club</h6>
                                <p>Welcome to TINT Art Club, where creativity blooms and colors swirl with joy! Explore your imagination, express your
                                    passion, and create masterpieces that radiate happiness and inspiration in every brushstroke.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="../images/hridmajhare_logo.jpg" alt="" />
                            </div>
                            <div class="text-container">
                                <h6>TINT Music Club</h6>
                                <p>Join TINT Music Club - Hridmajhare, where every note dances with joy! Immerse yourself in melodies that spark
                                    laughter, harmony that ignites happiness, and rhythms that make every moment vibrant and lively.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="../images/talkies.jpg" alt="" />
                            </div>
                            <div class="text-container">
                                <h6>TINT Talkies</h6>
                                <p>Step into the world of TINT Talkies, where storytelling meets the silver screen. Join us for cinematic adventures,
                                    discussions, and a reel-y good time. Lights, camera, action awaits!</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="../images/IMG-20230127-WA0287.jpg"
                                    alt="" />
                            </div>
                            <div class="text-container">
                                <h6>TINT Hiking Club</h6>
                                <p>
                                    Explore scenic trails, embrace adventure, and bond with fellow adventurers at TINT Hiking Club. Join us for
                                    unforgettable outdoor experiences, camaraderie, and lasting memories.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="../images/CodingClub.02af6a9d.jpeg"
                                    alt="" />
                            </div>

                            <div class="text-container">
                                <h6>TINT Coding Club</h6>
                                <p>
                                    Unlock your potential in the digital realm with TINT Coding Club. Join us to delve into programming languages,
                                    tackle coding challenges, and create cutting-edge solutions collaboratively.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="../images/Screenshot 2024-05-15 021219.png"
                                    alt="" />
                            </div>
                            <div class="text-container">
                                <h6>TINT Social Workers(TINT Covid Group)</h6>
                                <p>
                                    Delve into meaningful endeavors with TINT Social Workers Club. Join us to advocate for social justice, uplift
                                    communities, and make a tangible impact on society's well-being.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>