<div class="row container px-5 py-5 my-5">
    <div class="col-lg-8 ms-auto card">
        <div class="row justify-content-start">
            <div class="col-md-6">
                <div class="info">
                    <h3 class="font-weight-bolder mt-3">Full Documentation</h3>
                    <p class="pe-5">Built by developers for developers. Check the foundation and you will find
                        everything inside our documentation.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="info">
                    <h3 class="font-weight-bolder mt-3">Bootstrap 5 Ready</h3>
                    <p class="pe-3">The world’s most popular front-end open source toolkit, featuring Sass variables and
                        mixins.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-start mt-5">
            <div class="col-md-6 mt-3">
                <div class="info">
                    <h3 class="font-weight-bolder mt-3">Save Time & Money</h3>
                    <p class="pe-5">Creating your design from scratch with dedicated designers can be very expensive.
                        Start
                        with our Design
                        System.</p>
                </div>
            </div>
            <div class="col-md-6 mt-3">
                <div class="info">
                    <h5 class="font-weight-bolder mt-3">Fully Responsive</h5>
                    <p class="pe-3">Regardless of the screen size, the website content will naturally fit the given
                        resolution.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card card-background card-background-mask-primary tilt" data-tilt>
            <div class="card-body pt-7 text-center">
                <div class="d-flex align-items-center" style="height: 500px;">
                    <div class="col-3 column  px-0 d-flex flex-column m-auto w-100" style="height: inherit;">
                        <span class="px-3 py-3"
                            style="background-image: url('/images/curved.jpg'); background-size: cover; ">
                            <h4 class="text-light fw-light fs-3">Notice
                                Board</h4>
                        </span>
                        <div class="vertical-menu text-start">
                            <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis corrupti pariatur
                                maiores
                                assumenda
                                quod est facilis error provident reprehenderit blanditiis.</a>
                            <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis corrupti pariatur
                                maiores
                                assumenda
                                quod est facilis error provident reprehenderit blanditiis.</a>
                            <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis corrupti pariatur
                                maiores
                                assumenda
                                quod est facilis error provident reprehenderit blanditiis.</a>
                            <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis corrupti pariatur
                                maiores
                                assumenda
                                quod est facilis error provident reprehenderit blanditiis.</a>
                            <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis corrupti pariatur
                                maiores
                                assumenda
                                quod est facilis error provident reprehenderit blanditiis.</a>
                            <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis corrupti pariatur
                                maiores
                                assumenda
                                quod est facilis error provident reprehenderit blanditiis.</a>
                            <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis corrupti pariatur
                                maiores
                                assumenda
                                quod est facilis error provident reprehenderit blanditiis.</a>
                            <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis corrupti pariatur
                                maiores
                                assumenda
                                quod est facilis error provident reprehenderit blanditiis.</a>
                            <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis corrupti pariatur
                                maiores
                                assumenda
                                quod est facilis error provident reprehenderit blanditiis.</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>